{% load static %}
{% include 'header.html' with title="Homework" %}

<br>
<div class="container navbar">
    <header class="navbar">
        <nav>
            <ul class="nav_links">
                <li class="navbar"><a class="navbar" href="../classes/">My Classes</a></li>
                <li class="navbar"><a class="navbar" href="#">Homework</a></li>
                <li class="navbar"><a class="navbar" href="#">Registers</a></li>
                <li class="navbar"><a class="navbar" href="#">Notifiacations</a></li>
                <li class="navbar"><a class="navbar" href="../students/">Students</a></li>
            </ul>
        </nav>
        <img src="{% static 'logo.svg' %}" alt="logo" width="10%" height="10%">
    </header>
</div>
<br>

<div class="container">
    <button type="button" class="btn btn-dark"><a class="button" href="add/">Log Homework</a></button>
    <br><br>
</div>

<div class="container">
    <table class="table table-striped table-dark table-borderd table-responsive">
        <tr>
            <td>Task</td>
            <td>Student</td>
            <td>Assigned by</td>
            <td>Grade</td>
        </tr>
        {% for x in homework %}
        <tr>
            <td>{{ x.task }}</td>
            <td>{{ x.student.fname }}</td>
            <td>{{ x.teacher.first_name }}</td>
            <td>{{ x.grade }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% include 'footer.html' %}